@import "ember-modal-dialog/ember-modal-structure";
:global(.ember-modal-overlay.translucent) {
  background-color: rgba(#808080, .7);
}
:global(.ember-modal-dialog) {
  background-color: #fff;
  border-radius: 3px;
}

.modal-header {
  padding: 15px;

  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.modal-body {
  padding: 15px;
}
