html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #f3f3f3;
  font-family: sans-serif;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

:global(.text-red) {
  color: red;
}
