@import "ember-modal-dialog/ember-modal-structure";
:global(.ember-modal-dialog) {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px #222;
  padding: 10px;
}
:global(.ember-modal-overlay.translucent) {
  background-color: rgba(#808080, .2);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #efefef;
  font-family: sans-serif;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
