html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #efefef;
  font-family: sans-serif;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
