<div local-class="app">
  <section local-class="header">
    <h1 local-class="page-title">Teathre Ticket Office</h1>
  </section>

  <section local-class="body">

    {{assign-customer}}

    {{outlet}}
  </section>
</div>