<div local-class="app">
  <section local-class="header">
    <h1 local-class="page-title">Teathre Ticket Office 🧐</h1>
  </section>

  <section local-class="body">
    {{assign-customer
        customer=selected
        onCreate=(action 'create')
        onEdit=(action 'edit')}}

    {{#if customer}}
      {{#ui-modal title='Customer details'}}
        {{ui-customer-form
            model=customer
            submitTask=save
            onCancel=(action 'cancel')}}
      {{/ui-modal}}
    {{/if}}


    {{outlet}}
  </section>
</div>