.btn-remove-customer {
  font-size: 14px;
  color: #ccc;
  width: 30px;
  margin: 5px;
  margin-left: auto;
  border-radius: 2px;
}
.btn-remove-customer:hover {
  color: white;
  background: #2a3034;
}
