.input-group {
  background: white;
  border: 1px solid #ddd;
  width: 450px;
  height: 40px;

  display: flex;
  justify-content: flex-start;
}
.input-group.is-open {
  border-color: #333;
}
.input-group > div {
  width: 100%;
}
.input-group input {
  width: 100%;
  font-size: 16px;
  padding: 5px 15px;
  height: 40px;
  border: none;
  background: none;
  outline: none;
}
.input-group > img {
  margin-left: 12px;
  align-self: center;
}
